@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Bold Italic'), local('DINNextW1G-BoldItalic'),
        url('hinted-DINNextW1G-BoldItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Heavy Italic'), local('DINNextW1G-HeavyItalic'),
        url('hinted-DINNextW1G-HeavyItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-HeavyItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Heavy'), local('DINNextW1G-Heavy'),
        url('hinted-DINNextW1G-Heavy.woff2') format('woff2'),
        url('hinted-DINNextW1G-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Light'), local('DINNextW1G-Light'),
        url('hinted-DINNextW1G-Light.woff2') format('woff2'),
        url('hinted-DINNextW1G-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G UltraLight Italic'), local('DINNextW1G-UltraLightItalic'),
        url('hinted-DINNextW1G-UltraLightItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Italic'), local('DINNextW1G-Italic'),
        url('hinted-DINNextW1G-Italic.woff2') format('woff2'),
        url('hinted-DINNextW1G-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Medium Italic'), local('DINNextW1G-MediumItalic'),
        url('hinted-DINNextW1G-MediumItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G UltraLight'), local('DINNextW1G-UltraLight'),
        url('hinted-DINNextW1G-UltraLight.woff2') format('woff2'),
        url('hinted-DINNextW1G-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G'), local('DINNextW1G'),
        url('hinted-DINNextW1G.woff2') format('woff2'),
        url('hinted-DINNextW1G.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Black'), local('DINNextW1G-Black'),
        url('hinted-DINNextW1G-Black.woff2') format('woff2'),
        url('hinted-DINNextW1G-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Black Italic'), local('DINNextW1G-BlackItalic'),
        url('hinted-DINNextW1G-BlackItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Bold'), local('DINNextW1G-Bold'),
        url('hinted-DINNextW1G-Bold.woff2') format('woff2'),
        url('hinted-DINNextW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Light Italic'), local('DINNextW1G-LightItalic'),
        url('hinted-DINNextW1G-LightItalic.woff2') format('woff2'),
        url('hinted-DINNextW1G-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DIN Next W1G';
    src: local('DIN Next W1G Medium'), local('DINNextW1G-Medium'),
        url('hinted-DINNextW1G-Medium.woff2') format('woff2'),
        url('hinted-DINNextW1G-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

