$font-size: 100%;
$ratio: 1.333;
$ratio-alt: 1.68;

/* that's all our numbers! */

/* Do math: */
$h5: $font-size * $ratio;
$h4: $font-size * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;

/* Set the alternative ratio */
$h4-alt: $font-size * $ratio-alt;
$h3-alt: $h4-alt * $ratio-alt;
$h2-alt: $h3-alt * $ratio-alt;
$h1-alt: $h2-alt * $ratio-alt;

/* use interpolated Sass variables to set the CSS variables */
main {
  --font-size: #{$font-size};
  --ratio: #{$ratio};

  /* More math - has to be actual variables for the media query to work */
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));

  p {
    font-size: $font-size; /* IE fallback */
    font-size: var(--font-size);
  }

  h5 {
    font-size: $h5;
    font-size: var(--h5);
  }

  h4 {
    font-size: $h4;
    font-size: var(--h4);
  }

  h3 {
    font-size: $h3;
    font-size: var(--h3);
  }

  h2 {
    font-size: $h2;
    font-size: var(--h2);
  }

  h1 {
    font-size: $h1;
    font-size: var(--h1);
  }

  h1,h2,h3,h4,h5{
    margin: 0 0 10px 0;
  }

}