@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);
@import url("../fonts/dinnext-w1g-hinted/stylesheet.css");
@import "_typo";

$color__primary: hsl(223, 50%, 40%);
$color__primary--accent1: hsl(223, 50%, 50%);
$color__primary--accent2: hsl(223, 50%, 77%);
$color__secondary: hsl(0, 0%, 100%);

$font__dinw1g: 'DIN Next W1G', 'Open Sans', sans-serif;

:root{
    --color__pr: #{$color__primary};
    --color__pr--a1: #{$color__primary--accent1};
    --color__pr--a2: #{$color__primary--accent2};
}

html {
  box-sizing: border-box;
}//

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
}

h1,h2,h3,h4,h5{
    font-family: 'DIN Next W1G', 'Open Sans', sans-serif;
}

.h-i{
    font-family: 'DIN Next W1G', 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
}

.i{
    font-style: italic;
}

.bi{
    font-style: italic;
    font-weight: 700;
}

.inline{
    display: inline-block;
}

.wrap{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    height: inherit;
}

header{
    display: flex;
    align-items: center;
    color: $color__primary;
    font-family: $font__dinw1g;
    min-height: 50px;
    overflow: hidden;
    padding: 0 10px;
    background: hsl(0, 0%, 95%);
    .logo{
        font-size: 20pt;
    }
    h1,h2{
        margin-top: -5px !important;//
    }
    >*:not(:last-child){
        margin: 0 10px 0 0;
    }
    a{
        color: inherit;
        text-decoration: unset;
        &:not(.logo) {
            padding: 10px;
        }
    }
}

main{
    flex: 1;
}

section{
    //display: flex;
    &:first-child{
        margin: 0 0 50px 0 !important;
    }//
    &:only-child{
        margin: 0 !important;
    }//
    margin: 0 0 50px 0 !important;
    &.hcenter{
        text-align: center;
    }
    &.vcenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hcenter{
        text-align: center;
    }
    .vcenter{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &.vh-m{
        min-height: 200px;
        margin: 20px 0;
    }
    &.dark{
        color: $color__secondary;
    }
    .cols{
        display: grid;
        grid-template-columns: repeat(var(--cols-num), 1fr);
        grid-gap: 10px;
        grid-row-gap: 20px;
    }
    ul{
        list-style-position: inside;
    }
}
.ghost{
    opacity: .2;
}
footer{
    margin: 20px 0;
}