@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic);
@import url("../fonts/dinnext-w1g-hinted/stylesheet.css");
/* that's all our numbers! */
/* Do math: */
/* Set the alternative ratio */
/* use interpolated Sass variables to set the CSS variables */
main {
  --font-size: 100%;
  --ratio: 1.333;
  /* More math - has to be actual variables for the media query to work */
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));
}
main p {
  font-size: 100%;
  /* IE fallback */
  font-size: var(--font-size);
}
main h5 {
  font-size: 133.3%;
  font-size: var(--h5);
}
main h4 {
  font-size: 133.3%;
  font-size: var(--h4);
}
main h3 {
  font-size: 177.6889%;
  font-size: var(--h3);
}
main h2 {
  font-size: 236.8593037%;
  font-size: var(--h2);
}
main h1 {
  font-size: 315.7334518321%;
  font-size: var(--h1);
}
main h1, main h2, main h3, main h4, main h5 {
  margin: 0 0 10px 0;
}

:root {
  --color__pr: #335099;
  --color__pr--a1: #4064bf;
  --color__pr--a2: #a7b8e2;
}

html {
  box-sizing: border-box;
}

*::before,
*,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "DIN Next W1G", "Open Sans", sans-serif;
}

.h-i {
  font-family: "DIN Next W1G", "Open Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.i {
  font-style: italic;
}

.bi {
  font-style: italic;
  font-weight: 700;
}

.inline {
  display: inline-block;
}

.wrap {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  height: inherit;
}

header {
  display: flex;
  align-items: center;
  color: #335099;
  font-family: "DIN Next W1G", "Open Sans", sans-serif;
  min-height: 50px;
  overflow: hidden;
  padding: 0 10px;
  background: #f2f2f2;
}
header .logo {
  font-size: 20pt;
}
header h1, header h2 {
  margin-top: -5px !important;
}
header > *:not(:last-child) {
  margin: 0 10px 0 0;
}
header a {
  color: inherit;
  text-decoration: unset;
}
header a:not(.logo) {
  padding: 10px;
}

main {
  flex: 1;
}

section {
  margin: 0 0 50px 0 !important;
}
section:first-child {
  margin: 0 0 50px 0 !important;
}
section:only-child {
  margin: 0 !important;
}
section.hcenter {
  text-align: center;
}
section.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section .hcenter {
  text-align: center;
}
section .vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.vh-m {
  min-height: 200px;
  margin: 20px 0;
}
section.dark {
  color: white;
}
section .cols {
  display: grid;
  grid-template-columns: repeat(var(--cols-num), 1fr);
  grid-gap: 10px;
  grid-row-gap: 20px;
}
section ul {
  list-style-position: inside;
}

.ghost {
  opacity: 0.2;
}

footer {
  margin: 20px 0;
}

/*# sourceMappingURL=style.css.map */
